@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_eases.scss';

.herobanner {
	margin-top: 20px;
}

.page-header {
	margin-bottom: 20px;

	@include for-tablet-portrait-up {
		margin-bottom: 30px;
	}
}

.content {
	width: 100%;
	height: 100vh;
	margin-top: 60px;
	background: $darkgrey;
}

.schools-container {
	margin-bottom: 30px;
	
	.school {
		&:not(:last-child) {
			margin-bottom: 30px;
			padding-bottom: 30px;
			border-bottom: 1px solid $lightergrey;
		}
	}

	.title {
		font-size: 20px;
		margin-bottom: 10px;

		@include for-tablet-portrait-up {
			font-size: 24px;
		}
	}

	.info-container {
		> a {
			display: inline-block;
		}

		.instructor {
			margin-bottom: 8px;

			.label {
				font-size: 16px;
				font-weight: bold;
				padding-right: 6px;
			}

			.name {
				font-size: 16px;
				color: $red;
			}
		}

		

		.address {
			margin-bottom: 8px;
			font-size: 16px;
		}

		.contact {
			font-size: 16px;
			margin-bottom: 8px;

			a {
				display: block;
				width: fit-content;
				line-height: 24px;
			}
		}
	}

	

	.table-container {
		margin-top: 20px;
	}
}

.disclaimer {
	font-size: 16px;
	font-weight: bold;
	color: $red;
}