@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_eases.scss';

.herobanner {
	margin-top: 20px;
}

.container {
}

.header-container {
	margin-bottom: 20px;
}

.picture {
	width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    filter: drop-shadow(3px 3px 1px $black);

    @include for-tablet-portrait-up {
		width: 150px;
    	height: 150px;
	}
}

.name {
	font-size: 26px;
	text-align: center;

	@include for-tablet-portrait-up {
		font-size: 40px;
	}
}

.page-header {
	margin-bottom: 20px;

	@include for-tablet-portrait-up {
		padding: 0 75px;
		margin-bottom: 30px;
	}

	@include for-tablet-landscape-up {
		padding: 0 150px;
	}
}

.article-body {
	margin-bottom: 30px;
}

.contact-container {
	font-size: 16px;
	margin-bottom: 8px;

	@include for-tablet-portrait-up {
		padding: 0 75px;
	}

	@include for-tablet-landscape-up {
		padding: 0 150px;
	}

	.label {
		margin-right: 10px;
	}

	a {
		width: fit-content;
		line-height: 24px;
	}
}