@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_eases.scss';

.title {
	font-size: 20px;
	margin-bottom: 10px;

	@include for-tablet-portrait-up {
		font-size: 24px;
	}
}

.info-container {
	> a {
		display: inline-block;
	}

	.instructor {
		margin-bottom: 8px;

		.label {
			font-size: 16px;
			font-weight: bold;
			padding-right: 6px;
		}

		.name {
			font-size: 16px;
			color: $red;
		}
	}

	

	.address {
		margin-bottom: 8px;
		font-size: 16px;
	}

	.contact {
		font-size: 16px;

		a {
			display: block;
			width: fit-content;
			line-height: 24px;
		}
	}
}