// Base Styles
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

* {
	font-family: 'Avenir', sans-serif;

	box-sizing: border-box;
	margin: 0;
}

html,
body {
	font-size: 10px;
}

// Type Styles
p {
	font-family: 'Avenir', sans-serif;

	small {
		font-size: .8em;
	}
}

a {
	transition: color .25s $easeInOut;
	backface-visibility: hidden;
	text-decoration: none;
	color: $white;
	font-family: inherit;

	&:hover {
		color: $purple;
		cursor: pointer;
	}

	&:focus {
		outline: none;
	}
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		font-size: 1.6rem;
	}
}