// Primary Colors //
$white : #fff;
$offwhite: #eee;
$lightergrey: #aaa;
$lightgrey: #999; 
$bordergrey: #ccc;
$grey: #666; 
$darkgrey: #414141;
$black: #333333;
$blacker: #232323;
$blackest: #000000;

// Project Based Colors //
$red: #FF1815;
$darkred: #8A0102;
$blue: #005CAF;
$purple: #780C42;